/* Todas las etiquetas - Universal */
*{
    /* margenes */
    margin: 0;

    /* relleno (margen interna) */
    padding: 0;

    /* evita sumar anchos al relleno */
    box-sizing: border-box;
}


/* Asignar estilo a los contenedores principales */
body{
    /* Fondo: URL top left patron */
    background: url(Assets/imagen-back.jpg) 0 0 no-repeat;
    background-size: cover;

    /* Manejo de color
        - Hexadecimal: #000;
        - Nombre de color: black;
        - rgb: rgb(0,0,0);
        - rgba: rgba(0,0,0,1);
    */
}


main{
    /* fondo con alpha al 83% */
    background: rgba(0,0,0,0.83);
    /* ancho */
    width: 100%;
    max-width: 650px;
    /* centrar el contenedor */
    /* margenes: top right bottom left */
    margin: 0 auto 0 auto;
    /* relleno: tom right bottom left */
    padding: 15px;
}


/* Estilos titulos */
h1{
    /* color de fuente */
    color: rgb(240, 33, 136);
    /* tamaño de fuente */
    font-size: 40px;
    /* familia tipográfica */
    font-family: "Rubik Maps", system-ui;
    font-weight: 400;
    font-style: normal;
}

h2{
    /* color de fuente */
    color: rgb(255, 255, 255);
    /* tamaño de fuente */
    font-size: 30px;
    /* familia tipográfica */
    font-family: "Averia Libre", system-ui;
    font-weight: 400;
    font-style: normal;
    /* margenes */
    margin: 10px 0 10px 0;
}


/* Estilo de párrafos */
.parrafo-pink{
    /* color de fuente */
    color: rgb(255, 255, 255);
    /* tamaño de fuente */
    font-size: 16px;
    /* altura de linea */
    line-height: 24px;
    /* Justificar el texto */
    text-align: justify;
    /* familia tipográfica */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* margenes */
    margin: 10px 0 10px 0;
}

/* Imágenes */
img{
    /* ancho */
    width: 100%;
}