/* INDICE DE ESTILOS

0. Generales / colores
1. Tipografía
2. Header / cabecera
3. Enlaces / botones
4. Areas destacadas
5. Area experiencias (video)
6. Sección de destacados
7. Sección de ubicación

*/




/* 0. Generales / colores */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-principal: rgb(235, 0, 0);
    --color-acento: rgb(0, 61, 175);
    --color-texto: rgb(32, 35, 36);
}

body {
    background: url(assets/fondo-santiagodechile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




/* 1. tipografía */

.titulo-principal {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 50px;
    color: var(--color-principal);
    text-align: center;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.titulo-principal1 {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 14px;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.titulo-principal2 {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 40px;
    color: var(--color-principal);
    text-align: center;
    margin-bottom: 14px;
    text-decoration: underline;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.titulo-principal3 {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 14px;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

}


.titulo-secundario {
    font-family: "Kulim Park", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    color: white;
    text-align: center;
}

.titulo-secundario1 {
    font-family: "Kulim Park", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: var(--color-principal);
    text-align: center;
    text-decoration: underline;
}

.titulo-secundario2 {
    font-family: "Kulim Park", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: white;
    text-align: left;
}

.subtitulo {
    font-family: "Kulim Park", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: white;
    text-align: center;
}

.subtitulo1 {
    font-family: "Kulim Park", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    color: white;
    margin-bottom: 8px;
}

.parrafo {
    font-family: "Kulim Park", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    text-align: center;
    color: white
    
}

.parrafo1 {
    font-family: "Kulim Park", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    text-align: left;
    color: rgb(182, 201, 255);
    padding-left: 40px;
}

.parrafo1 a {
    color: rgb(182, 213, 255);
    text-decoration: none;
    display: inline-block;
    padding: 4px 0;
    transition: all 0.2s ease;
}

.parrafo1 a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.texto-oculto {
    display: none;
}




/* 2. Header / cabecera */

#cabecera-principal {
    padding: 10px 18px 20px 18px;
    display: flex;
    flex-wrap: wrap;
    /* Añade separación constante entre los elementos horizontal y verticalmente */
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    /* borde: grosor tipo color */
    background: linear-gradient(
        to bottom,
        rgba(176, 224, 255, 0.95) 0%,
        rgba(176, 224, 255, 0.6) 40%,
        rgba(176, 224, 255, 0.2) 70%,
        rgba(176, 224, 255, 0) 100% 
    );
}




/* 3. Enlaces / botones */

.boton-principal {
    font-family: "Kulim Park", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: white;
    /* quito la linea inferior */
    text-decoration: none;
    /* asigno cuerpo por medio del relleno */
    padding: 8px 20px 8px 20px;
    /* animo el paso del mouse */
    transition: all linear 0.3s;
    /* redondeo los bordess */
    border-radius: 8px;
    background-color: var(--color-acento);
}

.boton-principal:hover {
    font-family: "Kulim Park", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: var(--color-principal);
    color: rgb(255, 255, 255);
    background-color:  var(--color-principal);
}




/* 4. Areas destacadas */

#area-destacadas{
    max-width: 1500px;
    padding: 60px 20px;
    margin: 40px auto;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.elements-row{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-radius: 80px;
    gap: 26px;
}

.articulo-index{
    /* relleno: top right bottom left */
    padding: 30px 15px;
    flex: 1;
    box-sizing: border-box;
    border-radius: 12px;
    text-align: center;
    background-color: color-mix(in srgb, rgb(0, 0, 0) 80%, transparent);
    border-bottom: 8px solid rgb(255, 255, 255);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.articulo-index img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.articulo-index img:hover {
    transform: scale(1.05);
}

.articulo-index *{
    margin: 0 0 10px 0;
}

.boton-ver-mas{
    font-family: "Kulim Park", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 19px;
    color: var(--color-acento);
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 3px;
    /* Convertimos el enlace en bloque de línea para que respete dimensiones */
    display: inline-block;
    transition: all 0.3s ease;
    text-align: center;
}

.boton-ver-mas:hover{
    color: var(--color-texto);
    background-color:  rgb(255, 255, 255);
    transition: all linear 0.3s;
    cursor: pointer;
    transform: translateY(-7px);
}




/* 5. Area experiencias (video) */


#area-experiencias{
    padding: 60px 0;
}

#area-experiencias video{
    max-width: 1500px;
    display: block;
    margin: 30px auto;
    border-radius: 20px;
    border-bottom: 8px solid rgb(255, 255, 255);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}




/* 6. Sección de destacados */

#seccion-destacados {
    max-width: 1600px;
    margin: 40px auto;
    padding: 0 20px 30px 40px;
    box-sizing: border-box;
}

.mosaico-destacados {
    display: grid;
    /* Columna izquierda un poco más ancha */
    grid-template-columns: 1.2fr 1fr; 
     /* Dos filas de alto fijo */
    grid-template-rows: repeat(2, 220px);
    gap: 20px;
}

/* La tarjeta que la columna izquierda (de arriba a abajo) */
.tarjeta-principal {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.tarjeta {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.tarjeta img {
    width: 100%;
    height: 100%;
    /* Ajusta la imagen sin deformarla */
    object-fit: cover;
    display: block;
    box-shadow: inset 0 -8px 0 0 #ffffff;
    transition: transform 0.3s ease;
}

.tarjeta:hover img {
    transform: scale(1.05);
}

/* El texto resalta sobre cualquier foto */
.contenido-tarjeta {
    /* Hace flotar el texto sobre la iamgen */
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    padding: 20px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.boton-ver-mas1 {
    font-family: "Kulim Park", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--color-acento);
    border-radius: 20px;
    transition: background 0.2s ease;
}

.boton-ver-mas1:hover {
    background-color: var(--color-principal);
}




/* 7. Sección de ubicación */

#seccion-mapa {
    margin: 40px auto;
    padding: 80px 60px;
    box-sizing: border-box;
    text-align: center;
}

.contenedor-mapa {
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    border-bottom: 10px solid white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
  



/* 8. Información prestadores */

.prestadores {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: #030b26; 
    border-radius: 20px;
    border: 3px solid #ffffff;
    padding: 30px 40px;
    box-sizing: border-box;
}

.logo-gobiernochile {
    flex-shrink: 0;
}

.logo-gobiernochile img {
    display: block;
    width: 80px;
    height: auto;
}

.lista-prestadores {
    display: flex;
    gap: 40px;
}







/* Responsive */

@media only screen and (max-width: 600px) {
    #cabecera-principal {
        flex-direction: column;
    }


        /* Enlaces / botones */
    nav[role=navigation]{
        width: 100%;
    }

    .boton-principal {
        /* se comporte como un bloque */
        display: block;
        /* ancho */
        width: 96%;
        /* margen */
        margin: 5% 2% 0 2%;
        /* alineo al centro */
        text-align: center;
        /* borde inferio */
        border-bottom: 1px solid var(--color-principal);
        /* quito borde */
        border-radius: 0;
    }

    .lista-prestadores {
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        gap: 25px;
    }

    .subtitulo4 {
        text-align: center;
        margin-bottom: 8px;
        width: 100%;
    }

    .parrafo4 {
        text-align: left;
        padding-left: 20px;
        margin: 0;
    }

    .mosaico-destacados {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    .tarjeta-principal {
        grid-column: 1;
        grid-row: auto;
    }

    .tarjeta {
        height: 250px; /* Altura cómoda para ver en cel */
    }
    
}


@media only screen and (max-width: 900px){
    .elements-row {
        flex-direction: column;
        align-items: center;
        }

    .articulo-index {
    border-bottom: 12px solid rgba(255, 255, 255, 0.7);
        }
    }